body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div, section, span, ul, li, a, header {
  box-sizing: border-box;
}

/* Top header style */
.logo {
  width: 300px;
  height: 100px;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {

  .logo {
    width: 180px;
    height: 50px;
  }

  .center-text p {
    font-size: 12px;
    letter-spacing: 2px;
    width: 250px;
    justify-content: flex-end;
    transform: translateY(-80%);
  }

  .hide-icons {
      display: none;
  }
}

.center-text {
  color: #0E0709;
  transform: translateY(35%);
  font-size: 14px;
  font-weight: light;
  letter-spacing: 7px;
}

.icon-container svg {
  color: #FF5F90;
  align-items: center;
  margin: 1px;
}

/* Bottom header style */
.navbar {
  color: #FFFFFF;
  background-color: #FF5F90;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  transform: translateX(90px);
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
  color: #0E0709;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .nav-cert-container {
    transform: translateX(20%);
  }
}

.nav-cert-container {
  position: relative;
  overflow: hidden;
  /* transform: translateX(-2%); */
}

.nav-cert {
  text-decoration: none;
  display: inline-block;
  margin: 5px 15px;
  padding: 15px 20px;
  background-color: #FFFFFF; 
  border-radius: 5px;
}

.nav-cert:hover {
  background-color: #ffffffa4;
}

.nav-cert-text {
  display: inline-block;
  color: #FF5F90;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-cert-text:hover {
  color: #0E0709;
}

button {
  display: block;
  transform: translateX(320px);
  border: none !important;
  border-radius: 0 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* styles for hero */
.hero-container {
  height: 100vh;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
}

.hero-container .slider-text .text {
  position: relative;
  z-index: 0;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  color: #0E0709;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.header-title {
  font-weight: bold;
  color: #0E0709;
  font-size: 40px;
  line-height: 1.2;
  max-width: 500px;
}

.hero-text {
  font-size: 14px;
  max-width: 400px;
}

.btn-primary {
  width: 180px;
  height: 50px;
  display: inline-block;
  background: #FF5F90;
  border-radius: 5px;
}

.btn-secondary {
  width: 150px;
  height: 50px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
}

a.btn-primary {
  text-decoration: none;
  color: #FFFFFF;
  transform: translateX(15%);
  font-size: 14px;
}

a.btn-secondary {
  text-decoration: none;
  color: #0E0709;
  transform: translateX(20%);
  font-size: 14px;
}

.material-symbols-outlined {
  transform: translate(30%, 30%);
  font-size: 14px;
}

/* small screen for hero */
@media screen and (max-width: 768px) {
  .hero-container {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff2f;
    }
  }

  .subheading {
    font-size: 12px;
    padding-left: 25px;
  }

  .header-title {
    font-size: 40px;
    padding-left: 25px;
    width: 300px;
  }

  .mb-4 {
    font-size: 12px;
    padding-left: 25px;
    width: 300px;
  }
}

/* small screen for subheading & h2 main content */
@media screen and (max-width: 768px) {
  .main-subheading {
    display: grid;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
  }
}

.main-subheading {
  display: grid;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* styles for feature */
/* left column */
.ft-img { 
  height: 80%;
  transform: translateY(15%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}
/* right column */
/* .services-wrap {
  background-color: #E0E6E5;
  padding: 20px;
  transition: background-color 0.3s ease;
} */

/* right column */
/* .services:hover {
  background-color: #FF5F90;
} */

.ft-subheading {
  display: grid;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

.ft-icon {
  width: 30%;
  margin: 20px;
  padding-right: 20px;
  /* color: #FF5F90; */
}

/* .ft-icon:hover svg {
  color: #E0E6E5;
}

.services .text h4 {
  color: #0E0709;
  transition: color 0.3s ease;
}

.services:hover .text h4 {
  color: #E0E6E5;
}

.services .text p {
  color: #0E0709;
  transition: color 0.3s ease;
}

.services:hover .text p {
  color: #E0E6E5;
} */

/* small screen for feature */
@media screen and (max-width: 768px) {
  .ft-img {
    display: none;
  }

  .ft-subheading {
    text-align: center;
  }

  .ft-icon {
    width: 80%;
  }
}

/* styles for course */
.services {
  width: 100%;
  height: 100%;
  background-color: #E0E6E5;
  padding: 30px 20px;
  border-radius: 4px;
}

.services:hover {
  background-color: #FF5F90;
}

a {
  text-decoration: none;
}

.h3-course {
  font-size: 20px;
  color: #0E0709;
  width: 230px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3-course:hover {
  color: #FFFFFF;
}

.course-count {
  font-size: 12px;
  font-weight: bold;
  color: #FF5F90;
}

.course-count:hover {
  color: #FFFFFF;
}

/* .course-icon img {
  background-image: url(links/braces.svg);
  width: 30%;
  padding: 5px;
} */

.course-icon svg:hover {
  color: #FFFFFF;
}
/* small screen course */
@media screen and (max-width: 768px) {
  .services {
    padding: 30px 20px;
    margin-bottom: 10px;
  }

  /* .course-icon img {
    transform: translateX(270%);
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
  } */

  .h3-course {
    transform: translateX(-5%);
    width: 300px;
  }
}

/* style for testimonial */
a.testimonial {
  background: #E0E6E5;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.avatar-icon img {
  border-radius: 50%;
  width: 30%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.h3-testimonial {
  font-size: 20px;
  color: #FF5F90;
}

.student-name {
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1;
  color: #0E0709;
}

.p-testimonial {
  color: #0E0709;
  font-size: 14px;
  width: 200px;
  margin-left: 25px;
}

/* small screen for testimonial */
@media screen and (max-width: 768px) {
  a.testimonial {
    width: 150%;
    margin: 5px;
    transform: translateX(-10%);
  }

  .avatar-icon img {
    width: 20%;
  }

  .p-testimonial {
    display: flex;
    text-align: center;
    width: 250px;
    margin: 30px;
  }
}

/* contact page */
.contact-hero {
  height: 50vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
}

.contact-subheading {
  text-transform: uppercase;
  font-weight: 500;
  color: #0E0709;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.contact-subheading:hover {
  color: #FF5F90;
}

.contact-current {
  text-transform: uppercase;
  font-weight: 500;
  color: #FF5F90;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.arrow-right {
  font-size: 14px;
  transform: translate(-10%, 15%);
}

.contact-btn {
  transform: translateX(200%);
  color: #FFFFFF;
}

h4.contact, .icon-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
}

.icon-container svg{
  margin: 3px;
}

/* small screen contact page */
@media screen and (max-width: 768px) {
  .contact-btn {
    transform: translateX(50%);
  }

  .icon-container svg{
    display: none;
  }

  h2.text-center {
    font-size: 30px;
  }

  .contact-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
  }

  /* .contact-subheading {
    display: flex;
    transform: translate(30%, -5%);
    width: 50px;
  }
  
  .contact-current {
    display: flex;
    transform: translate(48%, -390%);
  } */

  .contact-hero {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff2f;
    }
  }
}

/* style for footer */
.ftco-section {
  padding: 8em 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.ftco-intro {
  width: 100%;
  position: relative;
  z-index: 0;
  color: rgba(255, 255, 255, 0.8);
}

.subscribe-form {
  width: 100%;
}

.ftco-intro .subscribe-form .form-group input {
  background: transparent !important;
  color: white !important;
  font-size: 16px;
  padding: 0;
  border-radius: 5px 0px 0px 5px;
  border: none !important;
}

.ftco-intro .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.form-control {
  height: 45px;
}

.ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget .h2 {
  color: #0E0709;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.ftco-text {
  color: #5b5a5a;
}

.icon-container {
  fill: #FF5F90;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

a:link { 
  text-decoration: none; /* Убирает подчеркивание для ссылок */
} 
a:visited { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}
a:hover {
  text-decoration: none;
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.blog-entry {
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 4px;
  -moz-box-shadow: 0px 10px 25px -13px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 25px -13px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.blog-entry .meta {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.blog-entry .text .heading {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}

.courses-section {
  position: relative;
  z-index: 0;
}

.courses {
  width: 100%;
  background: #fff;
  padding: 30px 30px 40px 30px;
  transition: all 0.3s ease;
}

.courses .text {
  width: calc(100% - 80px);
  padding-left: 20px;
}

.courses .text p.lec {
  font-weight: 500;
  font-size: 13px;
}
