
.ftco-intro {
    width: 100%;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.8);
}

.subscribe-form {
    width: 100%;
}

.ftco-intro .subscribe-form .form-group input {
    background: transparent !important;
    color: white !important;
    font-size: 16px;
    padding: 0;
    border-radius: 5px 0px 0px 5px;
    border: none !important;
}

.ftco-intro .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}

.form-control {
    height: 45px;
}

.ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget .h2 {
    color: #0E0709;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.ftco-text {
    color: #5b5a5a;
}

.icon-container {
    fill: #FF5F90;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
} 
a:visited { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
a:hover {
    text-decoration: none;
}